.player-card{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    max-width: 200px;
    min-height: 340px;
    border: 6px solid lightblue;
    border-radius: 4px;
    padding: 6px;
    text-align: center;
}

.player-card p{
    font-size: 18px;
}

.player-card img{
    width: 100%;
}

.player-card button{
    padding: 6px 12px;
    
}

.statsLink{
    background-color: lightskyblue;
    padding: 6px 10px;
}

.player-card a{
    text-decoration: none;
    color: white;
}